In [1]:
import os

import pandas as pd

from bluebikes_analysis.config import LOCAL_DATA_DIR

#### Load individual csv files

In [21]:
# Get base folder and csv filenames
csv_folder = LOCAL_DATA_DIR / "raw/trips"
trips_csv_list = [x for x in os.listdir(csv_folder) if x.endswith("csv")]

# Load all available csv
trips_df_dict = {}
for csv_file in trips_csv_list:
    df_i = pd.read_csv(csv_folder / csv_file)
    trips_df_dict[csv_file.replace('.csv', '')] = df_i

#### Initial exploration of dataset formats

In [24]:
# Get column sets
column_sets = {}
for name, df in trips_df_dict.items():
    col_tuple = tuple(sorted(df.columns))
    if col_tuple not in column_sets:
        column_sets[col_tuple] = []
    column_sets[col_tuple].append(name)

# Report
print(f"Found {len(column_sets)} different column schemas:")
for i, (cols, files) in enumerate(column_sets.items(), 1):
    print(f"\nSchema {i} ({len(files)} files):")
    print(f"  Columns: {cols}")
    print(f"  Files: {files[:3]}{'...' if len(files) > 3 else ''}")

Found 3 different column schemas:

Schema 1 (24 files):
  Columns: ('bikeid', 'birth year', 'end station id', 'end station latitude', 'end station longitude', 'end station name', 'gender', 'start station id', 'start station latitude', 'start station longitude', 'start station name', 'starttime', 'stoptime', 'tripduration', 'usertype')
  Files: ['201805-bluebikes-tripdata', '201806-bluebikes-tripdata', '201807-bluebikes-tripdata']...

Schema 2 (35 files):
  Columns: ('bikeid', 'end station id', 'end station latitude', 'end station longitude', 'end station name', 'postal code', 'start station id', 'start station latitude', 'start station longitude', 'start station name', 'starttime', 'stoptime', 'tripduration', 'usertype')
  Files: ['202005-bluebikes-tripdata', '202006-bluebikes-tripdata', '202007-bluebikes-tripdata']...

Schema 3 (34 files):
  Columns: ('end_lat', 'end_lng', 'end_station_id', 'end_station_name', 'ended_at', 'member_casual', 'ride_id', 'rideable_type', 'start_lat', 'start_lng', 'start_station_id', 'start_station_name', 'started_at')
  Files: ['202304-bluebikes-tripdata', '202305-bluebikes-tripdata', '202306-bluebikes-tripdata']...

We have three different dataset formats. Explore one example of each.

In [25]:
trips_df_dict["201805-bluebikes-tripdata"].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1177,2018-05-01 00:01:32.4590,2018-05-01 00:21:10.0260,184,Sidney Research Campus/ Erie Street at Waverly,42.357753,-71.103934,189,Kendall T,42.362428,-71.084955,790,Subscriber,1994,1
1,733,2018-05-01 00:05:19.4970,2018-05-01 00:17:32.7190,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,1238,Subscriber,1993,2
2,437,2018-05-01 00:05:37.7590,2018-05-01 00:12:54.8300,54,Tremont St at West St,42.354979,-71.063348,6,Cambridge St at Joy St,42.361291,-71.065262,218,Subscriber,1993,1
3,730,2018-05-01 00:05:39.6780,2018-05-01 00:17:50.5880,54,Tremont St at West St,42.354979,-71.063348,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,1885,Subscriber,1992,1
4,411,2018-05-01 00:06:10.1590,2018-05-01 00:13:02.0490,54,Tremont St at West St,42.354979,-71.063348,6,Cambridge St at Joy St,42.361291,-71.065262,602,Customer,1969,0

In [26]:
trips_df_dict["202005-bluebikes-tripdata"].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,1577,2020-05-01 00:03:09.7400,2020-05-01 00:29:26.9630,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,97,Harvard University River Houses at DeWolfe St ...,42.369190,-71.117141,3941,Customer,NaN
1,943,2020-05-01 00:04:13.1380,2020-05-01 00:19:56.3460,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,5,Northeastern University - North Parking Lot,42.341814,-71.090179,4469,Subscriber,02120
2,1521,2020-05-01 00:11:00.0640,2020-05-01 00:36:21.5300,80,MIT Stata Center at Vassar St / Main St,42.362131,-71.091156,344,Commonwealth Ave at Chiswick Rd,42.340246,-71.151688,3703,Subscriber,02135
3,891,2020-05-01 00:11:20.6610,2020-05-01 00:26:12.6180,205,Bowdoin St at Quincy St,42.307852,-71.065122,445,Geiger Gibson Community Health Center,42.318865,-71.045368,3726,Subscriber,02125
4,439,2020-05-01 00:28:07.6160,2020-05-01 00:35:27.2910,86,Brookline Village - Station Street at MBTA,42.332744,-71.116267,103,JFK Crossing at Harvard St. / Thorndike St.,42.346563,-71.128374,4862,Subscriber,02143

In [27]:
trips_df_dict["202304-bluebikes-tripdata"].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member

Map old column names to new schema

In [28]:
# Essential columns only
column_mapping = {
    # Timestamps
    'starttime': 'started_at',
    'stoptime': 'ended_at',
      
    # Station IDs (spatial aggregation)
    'start station id': 'start_station_id',
    'end station id': 'end_station_id',
    
    # User type (might be useful for segmentation)
    'usertype': 'member_casual',
}

# Columns to keep (standardized names)
keep_columns = [
    'started_at', 
    'ended_at',
    'start_station_id',
    'end_station_id',
    'member_casual',
    'rideable_type'  # Only in 2023+ data
]

# Standardize each dataframe
for name, df in trips_df_dict.items():
    # Rename
    df.rename(columns=column_mapping, inplace=True)
    
    # Keep only columns that exist in this df
    cols_to_keep = [c for c in keep_columns if c in df.columns]
    trips_df_dict[name] = df[cols_to_keep]

print("Sample from each schema:")
for name in list(trips_df_dict.keys())[:3]:
    print(f"\n{name}: {trips_df_dict[name].columns.tolist()}")

Sample from each schema:

201805-bluebikes-tripdata: ['started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

201806-bluebikes-tripdata: ['started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

201807-bluebikes-tripdata: ['started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

In [31]:
# Parse datetimes for each dataframe
for name, df in trips_df_dict.items():
    # Try parsing with different formats
    # Format 1: '2018-05-01 00:21:10.0260' (with microseconds)
    # Format 2: '2023-04-13 13:49:59' (without microseconds)
    
    df['started_at'] = pd.to_datetime(df['started_at'], errors='coerce')
    df['ended_at'] = pd.to_datetime(df['ended_at'], errors='coerce')
    
    trips_df_dict[name] = df

# Check for parsing errors
print("Datetime parsing check:")
for name, df in list(trips_df_dict.items())[:3]:
    null_starts = df['started_at'].isnull().sum()
    null_ends = df['ended_at'].isnull().sum()
    print(f"{name}: {null_starts} null starts, {null_ends} null ends")

# Concatenate all dataframes
all_trips = pd.concat(trips_df_dict.values(), ignore_index=True)

print(f"\nCombined dataset:")
print(f"  Shape: {all_trips.shape}")
print(f"  Columns: {all_trips.columns.tolist()}")
print(f"  Date range: {all_trips['started_at'].min()} to {all_trips['started_at'].max()}")
print(f"\nMissing data proportion:")
print(all_trips.isnull().mean())

Datetime parsing check:
201805-bluebikes-tripdata: 0 null starts, 0 null ends
201806-bluebikes-tripdata: 0 null starts, 0 null ends
201807-bluebikes-tripdata: 0 null starts, 0 null ends

Combined dataset:
  Shape: (26002113, 6)
  Columns: ['started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual', 'rideable_type']
  Date range: 2018-05-01 00:01:32.459000 to 2026-01-31 23:52:58.586000

Missing data proportion:
started_at          0.000000
ended_at            0.000000
start_station_id    0.000125
end_station_id      0.001322
member_casual       0.000000
rideable_type       0.510846
dtype: float64

We can safely drop records with missing station id

In [38]:
# Drop records with missing station id
filt = all_trips["start_station_id"].isna() | all_trips["end_station_id"].isna()
all_trips = all_trips.loc[~filt, :]

print(f"\nMissing data proportion:")
print(all_trips.isnull().mean())

Missing data proportion:
started_at          0.000000
ended_at            0.000000
start_station_id    0.000000
end_station_id      0.000000
member_casual       0.000000
rideable_type       0.511568
dtype: float64

We have almost half the dataset without rideable_type (either classic or ebike). Lets check what is the last appearance of NA values in that column.

In [43]:
filt = all_trips["rideable_type"].isna()
all_trips.loc[filt, :].sort_values(by="ended_at").tail(1)

,started_at,ended_at,start_station_id,end_station_id,member_casual,rideable_type
13178581,2023-03-17 16:53:06.225,2023-04-06 08:37:56.334,554,379,Customer,NaN

We know that ebikes arrive in Boston on December 20, 2023 ([link](https://mass.streetsblog.org/2023/12/20/electric-bluebikes-have-arrived-in-boston)). Before that, all the bikes were classic, so we can safely asssign the correct rideable type to our NA values.

In [46]:
all_trips["rideable_type"].value_counts()

rideable_type
classic_bike     7091019
docked_bike      3014773
electric_bike    2576533
Name: count, dtype: int64

What is docked_bike??

In [47]:
filt = all_trips["rideable_type"] == "docked_bike"
all_trips.loc[filt, :].sort_values(by="ended_at")

,started_at,ended_at,start_station_id,end_station_id,member_casual,rideable_type
13469751,2023-04-01 00:05:33,2023-04-01 00:06:31,M32009,M32009,member,docked_bike
13405921,2023-04-01 00:00:16,2023-04-01 00:08:06,K32006,K32001,casual,docked_bike
13520911,2023-04-01 00:02:58,2023-04-01 00:09:12,B32062,C32001,member,docked_bike
13386614,2023-04-01 00:03:03,2023-04-01 00:09:23,B32015,B32013,member,docked_bike
13537905,2023-04-01 00:06:24,2023-04-01 00:10:39,M32009,M32030,member,docked_bike
...,...,...,...,...,...,...
16044971,2023-11-09 16:40:36,2023-12-02 15:11:17,M32006,N32001,casual,docked_bike
16147245,2023-11-07 15:42:36,2023-12-02 20:10:03,C32000,M32076,casual,docked_bike
16279162,2023-11-17 21:36:47,2023-12-03 10:01:56,C32017,B32034,casual,docked_bike
16074081,2023-11-28 18:13:52,2023-12-04 10:32:25,K32006,E32005,casual,docked_bike
16207267,2023-11-07 18:38:28,2023-12-04 18:58:14,D32005,C32040,casual,docked_bike

Apparently it is the generic name assigned to the bicycles before the distinction between classic and ebikes, probably inherited from another cities' system with docked an undocked bikes availability. We can safely name them classic_bikes as well.

In [50]:
# ASsign 'classic_bike' value to either NA or 'docked_bike' values.
filt = (all_trips["rideable_type"] == "docked_bike") | (all_trips["rideable_type"].isna())
all_trips.loc[filt, "rideable_type"] = "classic_bike"

In [ ]:
# Proportion of trips for each bike type
all_trips["rideable_type"].value_counts(normalize=True)

rideable_type
classic_bike     0.900771
electric_bike    0.099229
Name: proportion, dtype: float64

Lets check the stations_id

In [56]:
len(set(all_trips["start_station_id"].unique()) | set(all_trips["end_station_id"].unique()))

1143

Way off the number of stations we expected. Lets check stations metadata.

In [57]:
stations_csv = LOCAL_DATA_DIR / "raw/stations" / "station_information.csv"
stations_df = pd.read_csv(stations_csv)

In [58]:
stations_df

,station_id,name,short_name,lat,lon,capacity,region_id,region_name
0,2113559364250874028,Washington St at Mina Way,D32077,42.352982,-71.173224,15,10.0,Boston
1,5d17f129-af8c-4f30-bc58-6a8279052772,American Legion Hwy at Hyde Park Ave,C32101,42.272654,-71.119904,19,10.0,Boston
2,a6d6d4b2-3666-43ad-a690-7f676bdcc3fd,Hyde Park Ave at Arlington St,C32100,42.262867,-71.121631,19,10.0,Boston
3,f834e75d-0de8-11e7-991c-3863bb43a7d0,Hayes Square - Vine St at Moulton St,D32026,42.377022,-71.056605,19,10.0,Boston
4,829fa5a8-cc88-4ab2-9f34-b481aaa1612e,Washington St at Bowdoin St,C32042,42.299165,-71.073459,15,10.0,Boston
...,...,...,...,...,...,...,...,...
590,f8352c92-0de8-11e7-991c-3863bb43a7d0,Orient Heights T Stop - Bennington St at Sarat...,A32035,42.386781,-71.006098,19,10.0,Boston
591,2071632496372113488,Main St at Salem St,D32064,42.377100,-71.066460,20,10.0,Boston
592,2057166010169469732,Surface Rd at State Street,A32067,42.359743,-71.052602,15,10.0,Boston
593,f83510fd-0de8-11e7-991c-3863bb43a7d0,Bunker Hill Community College,A32023,42.374090,-71.069060,23,10.0,Boston
594,f83516b8-0de8-11e7-991c-3863bb43a7d0,Sidney Research Campus/Erie Street at Waverly,M32047,42.357753,-71.103934,19,8.0,Cambridge