In [1]:
import os

import pandas as pd

from bluebikes_analysis.config import LOCAL_DATA_DIR

#### Load individual csv files

In [2]:
# Get base folder and csv filenames
csv_folder = LOCAL_DATA_DIR / "raw/trips"
trips_csv_list = [x for x in os.listdir(csv_folder) if x.endswith("csv")]

# Load all available csv
trips_df_dict = {}
for csv_file in trips_csv_list:
    df_i = pd.read_csv(csv_folder / csv_file)
    trips_df_dict[csv_file.replace('.csv', '')] = df_i

#### Initial exploration of dataset formats

In [3]:
# Get column sets
column_sets = {}
for name, df in trips_df_dict.items():
    col_tuple = tuple(sorted(df.columns))
    if col_tuple not in column_sets:
        column_sets[col_tuple] = []
    column_sets[col_tuple].append(name)

# Report
print(f"Found {len(column_sets)} different column schemas:")
for i, (cols, files) in enumerate(column_sets.items(), 1):
    print(f"\nSchema {i} ({len(files)} files):")
    print(f"  Columns: {cols}")
    print(f"  Files: {files[:3]}{'...' if len(files) > 3 else ''}")

Found 3 different column schemas:

Schema 1 (24 files):
  Columns: ('bikeid', 'birth year', 'end station id', 'end station latitude', 'end station longitude', 'end station name', 'gender', 'start station id', 'start station latitude', 'start station longitude', 'start station name', 'starttime', 'stoptime', 'tripduration', 'usertype')
  Files: ['201805-bluebikes-tripdata', '201806-bluebikes-tripdata', '201807-bluebikes-tripdata']...

Schema 2 (35 files):
  Columns: ('bikeid', 'end station id', 'end station latitude', 'end station longitude', 'end station name', 'postal code', 'start station id', 'start station latitude', 'start station longitude', 'start station name', 'starttime', 'stoptime', 'tripduration', 'usertype')
  Files: ['202005-bluebikes-tripdata', '202006-bluebikes-tripdata', '202007-bluebikes-tripdata']...

Schema 3 (34 files):
  Columns: ('end_lat', 'end_lng', 'end_station_id', 'end_station_name', 'ended_at', 'member_casual', 'ride_id', 'rideable_type', 'start_lat', 'start_lng', 'start_station_id', 'start_station_name', 'started_at')
  Files: ['202304-bluebikes-tripdata', '202305-bluebikes-tripdata', '202306-bluebikes-tripdata']...

We have three different dataset formats. Explore one example of each.

In [4]:
trips_df_dict["201805-bluebikes-tripdata"].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1177,2018-05-01 00:01:32.4590,2018-05-01 00:21:10.0260,184,Sidney Research Campus/ Erie Street at Waverly,42.357753,-71.103934,189,Kendall T,42.362428,-71.084955,790,Subscriber,1994,1
1,733,2018-05-01 00:05:19.4970,2018-05-01 00:17:32.7190,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,41,Packard's Corner - Commonwealth Ave at Brighto...,42.352261,-71.123831,1238,Subscriber,1993,2
2,437,2018-05-01 00:05:37.7590,2018-05-01 00:12:54.8300,54,Tremont St at West St,42.354979,-71.063348,6,Cambridge St at Joy St,42.361291,-71.065262,218,Subscriber,1993,1
3,730,2018-05-01 00:05:39.6780,2018-05-01 00:17:50.5880,54,Tremont St at West St,42.354979,-71.063348,46,Christian Science Plaza - Massachusetts Ave at...,42.343666,-71.085824,1885,Subscriber,1992,1
4,411,2018-05-01 00:06:10.1590,2018-05-01 00:13:02.0490,54,Tremont St at West St,42.354979,-71.063348,6,Cambridge St at Joy St,42.361291,-71.065262,602,Customer,1969,0

In [5]:
trips_df_dict["202005-bluebikes-tripdata"].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,postal code
0,1577,2020-05-01 00:03:09.7400,2020-05-01 00:29:26.9630,74,Harvard Square at Mass Ave/ Dunster,42.373268,-71.118579,97,Harvard University River Houses at DeWolfe St ...,42.369190,-71.117141,3941,Customer,NaN
1,943,2020-05-01 00:04:13.1380,2020-05-01 00:19:56.3460,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,5,Northeastern University - North Parking Lot,42.341814,-71.090179,4469,Subscriber,02120
2,1521,2020-05-01 00:11:00.0640,2020-05-01 00:36:21.5300,80,MIT Stata Center at Vassar St / Main St,42.362131,-71.091156,344,Commonwealth Ave at Chiswick Rd,42.340246,-71.151688,3703,Subscriber,02135
3,891,2020-05-01 00:11:20.6610,2020-05-01 00:26:12.6180,205,Bowdoin St at Quincy St,42.307852,-71.065122,445,Geiger Gibson Community Health Center,42.318865,-71.045368,3726,Subscriber,02125
4,439,2020-05-01 00:28:07.6160,2020-05-01 00:35:27.2910,86,Brookline Village - Station Street at MBTA,42.332744,-71.116267,103,JFK Crossing at Harvard St. / Thorndike St.,42.346563,-71.128374,4862,Subscriber,02143

In [6]:
trips_df_dict["202304-bluebikes-tripdata"].head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0093AA5E7E3E0158,docked_bike,2023-04-13 13:49:59,2023-04-13 13:55:04,Innovation Lab - 125 Western Ave at Batten Way,A32011,Soldiers Field Park - 111 Western Ave,A32006,42.363713,-71.124598,42.364263,-71.118276,member
1,BFA8B88E063688F4,docked_bike,2023-04-25 09:44:38,2023-04-25 09:51:28,Museum of Science,M32045,One Broadway / Kendall Sq at Main St / 3rd St,M32003,42.367690,-71.071163,42.362242,-71.083111,member
2,A9C51FA200C31A81,docked_bike,2023-04-24 18:39:31,2023-04-24 18:58:05,New Balance - 20 Guest St,D32001,HMS/HSPH - Avenue Louis Pasteur at Longwood Ave,B32003,42.357329,-71.146735,42.337417,-71.102861,casual
3,0C1D451797FF0871,docked_bike,2023-04-04 19:25:31,2023-04-04 19:32:14,Museum of Science,M32045,Gore Street at Lambert Street,M32081,42.367690,-71.071163,42.373080,-71.086342,member
4,DDDCD0A2D2EE7A37,docked_bike,2023-04-11 08:36:14,2023-04-11 08:52:39,Museum of Science,M32045,Columbus Ave at W. Canton St,C32077,42.367690,-71.071163,42.344742,-71.076482,member

Map old column names to new schema

In [7]:
# Essential columns only
column_mapping = {
    # Timestamps
    'starttime': 'started_at',
    'stoptime': 'ended_at',
    
    # Identifiers
    'bikeid': 'ride_id',
    
    # Station IDs (spatial aggregation)
    'start station id': 'start_station_id',
    'end station id': 'end_station_id',
    
    # User type (might be useful for segmentation)
    'usertype': 'member_casual',
}

# Columns to keep (standardized names)
keep_columns = [
    'ride_id',
    'started_at', 
    'ended_at',
    'start_station_id',
    'end_station_id',
    'member_casual',
    'rideable_type'  # Only in 2023+ data
]

# Standardize each dataframe
for name, df in trips_df_dict.items():
    # Rename
    df.rename(columns=column_mapping, inplace=True)
    
    # Keep only columns that exist in this df
    cols_to_keep = [c for c in keep_columns if c in df.columns]
    trips_df_dict[name] = df[cols_to_keep]

print("Sample from each schema:")
for name in list(trips_df_dict.keys())[:3]:
    print(f"\n{name}: {trips_df_dict[name].columns.tolist()}")

Sample from each schema:

201805-bluebikes-tripdata: ['ride_id', 'started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

201806-bluebikes-tripdata: ['ride_id', 'started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

201807-bluebikes-tripdata: ['ride_id', 'started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual']

In [8]:
# Parse datetimes for each dataframe
for name, df in trips_df_dict.items():
    # Try parsing with different formats
    # Format 1: '2018-05-01 00:21:10.0260' (with microseconds)
    # Format 2: '2023-04-13 13:49:59' (without microseconds)
    
    df['started_at'] = pd.to_datetime(df['started_at'], errors='coerce')
    df['ended_at'] = pd.to_datetime(df['ended_at'], errors='coerce')
    
    trips_df_dict[name] = df

# Check for parsing errors
print("Datetime parsing check:")
for name, df in list(trips_df_dict.items())[:3]:
    null_starts = df['started_at'].isnull().sum()
    null_ends = df['ended_at'].isnull().sum()
    print(f"{name}: {null_starts} null starts, {null_ends} null ends")

# Concatenate all dataframes
all_trips = pd.concat(trips_df_dict.values(), ignore_index=True)

print(f"\nCombined dataset:")
print(f"  Shape: {all_trips.shape}")
print(f"  Columns: {all_trips.columns.tolist()}")
print(f"  Date range: {all_trips['started_at'].min()} to {all_trips['started_at'].max()}")
print(f"\nMissing data:")
print(all_trips.isnull().sum())

Datetime parsing check:
201805-bluebikes-tripdata: 0 null starts, 0 null ends
201806-bluebikes-tripdata: 0 null starts, 0 null ends
201807-bluebikes-tripdata: 0 null starts, 0 null ends

Combined dataset:
  Shape: (26002113, 7)
  Columns: ['ride_id', 'started_at', 'ended_at', 'start_station_id', 'end_station_id', 'member_casual', 'rideable_type']
  Date range: 2018-05-01 00:01:32.459000 to 2026-01-31 23:52:58.586000

Missing data:
ride_id                    0
started_at                 0
ended_at                   0
start_station_id        3244
end_station_id         34369
member_casual              0
rideable_type       13283074
dtype: int64

In [11]:
ride_id_counts = all_trips["ride_id"].value_counts()

In [19]:
ride_id_counts.tail(10000000)

ride_id
6C12C84EF9DE6E4C    1
84AB8AA761DE1B8E    1
20D2FFCD59D4ADF6    1
4665B54EB4E4AA95    1
79EE920E60307800    1
                   ..
E6C9B10982DB168E    1
965EC8A5904BB28C    1
9DB681B995E764BC    1
640DAA6CA6D212A7    1
4DEE3B3B379BBC88    1
Name: count, Length: 10000000, dtype: int64